{% extends "layout.html" %}

{% block content %}

  <div class="page-header">
    <h1>Welcome to Twitter.js!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"><br>
      <b>Your Name</b><br>
      100 followers
    </div>
    <div id="tweets" class="col-md-9">

      {% if showForm %}
        <form action="/tweets" method="POST">
          <label for="name_field">Name:</label>
          {% if name %}
          <input name="name" type="text" value="{{ name }}" id="name_field" />
          {% else %}
          <input name="name" type="text" id="name_field" />
          {% endif %}
          <label for="text_field">Text:</label>
          <input name="text" type="text" id="text_field" style="width: 350px;" />

          <input type="submit" value="Submit" />
        </form>
      {% endif %}

      <!-- display tweets here -->
      {% for tweet in tweets %}
        <div class="tweetbox">
          <img id="tweet-img" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/1163/s300/course-report-fullstack-academy-600-600.png" alt="img" />
          <div class="content">
              <a href="/users/{{ tweet.name }}">
                <p class="by">{{ tweet.name }}</p>
              </a>
              <a href="/tweets/{{ tweet.id }}">
                <p>{{tweet.content}}</p>
              </a>
          </div>

        </div>
      {% endfor %}

    </div>
  </div>

{% endblock %}
